# Project 1: Explanatory Data Analysis & Data Presentation (Movies Dataset)

## Data Import and first Inspection

In [49]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
pd.options.display.max_columns = 30
pd.options.display.float_format = '{:.2f}'.format

In [51]:
df = pd.read_csv("movies_complete.csv", parse_dates= ["release_date"])

In [ ]:
df

In [ ]:
df.info()

__Features__:

* **id:** The ID of the movie (clear/unique identifier).
* **title:** The Official Title of the movie.
* **tagline:** The tagline of the movie.
* **release_date:** Theatrical Release Date of the movie.
* **genres:** Genres associated with the movie.
* **belongs_to_collection:** Gives information on the movie series/franchise the particular film belongs to.
* **original_language:** The language in which the movie was originally shot in.
* **budget_musd:** The budget of the movie in million dollars.
* **revenue_musd:** The total revenue of the movie in million dollars.
* **production_companies:** Production companies involved with the making of the movie.
* **production_countries:** Countries where the movie was shot/produced in.
* **vote_count:** The number of votes by users, as counted by TMDB.
* **vote_average:** The average rating of the movie.
* **popularity:** The Popularity Score assigned by TMDB.
* **runtime:** The runtime of the movie in minutes.
* **overview:** A brief blurb of the movie.
* **spoken_languages:** Spoken languages in the film.
* **poster_path:** The URL of the poster image.
* **cast:** (Main) Actors appearing in the movie.
* **cast_size:** number of Actors appearing in the movie.
* **director:** Director of the movie.
* **crew_size:** Size of the film crew (incl. director, excl. actors).

In [ ]:
df.genres[1]

In [ ]:
df.cast[1]

In [ ]:
df.describe()

In [ ]:
df.hist(figsize = (20, 12), bins = 100)
plt.show()

In [5]:
df.budget_musd.value_counts(dropna = False).head(20)

budget_musd
NaN      35837
5.00       286
10.00      258
20.00      243
2.00       241
15.00      226
3.00       220
25.00      206
1.00       195
30.00      189
4.00       180
6.00       173
12.00      171
40.00      166
8.00       155
35.00      141
0.50       141
7.00       137
50.00      124
1.50       119
Name: count, dtype: int64

In [ ]:
df.revenue_musd.value_counts(dropna = False).head(20)

In [ ]:
df.vote_average.value_counts(dropna = False)

In [ ]:
df.vote_count.value_counts()

In [ ]:
df.describe(include = "object")

In [ ]:
df[df.title == "Cinderella"]

## The best and the worst movies... (Part 1)

In [7]:
from IPython.display import HTML
pd.options.display.max_colwidth = 200

In [9]:
df_best = df[["poster_path", "title", "budget_musd", "revenue_musd",
              "vote_count", "vote_average", "popularity"]].copy()
df_best

,poster_path,title,budget_musd,revenue_musd,vote_count,vote_average,popularity
0,<img src='http://image.tmdb.org/t/p/w185//uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg' style='height:100px;'>,Toy Story,30.00,373.55,5415.00,7.70,21.95
1,<img src='http://image.tmdb.org/t/p/w185//vgpXmVaVyUL7GGiDeiK1mKEKzcX.jpg' style='height:100px;'>,Jumanji,65.00,262.80,2413.00,6.90,17.02
2,<img src='http://image.tmdb.org/t/p/w185//1FSXpj5e8l4KH6nVFO5SPUeraOt.jpg' style='height:100px;'>,Grumpier Old Men,NaN,NaN,92.00,6.50,11.71
3,<img src='http://image.tmdb.org/t/p/w185//4wjGMwPsdlvi025ZqR4rXnFDvBz.jpg' style='height:100px;'>,Waiting to Exhale,16.00,81.45,34.00,6.10,3.86
4,<img src='http://image.tmdb.org/t/p/w185//lf9RTErt8BSLQy98aSFblElvsCQ.jpg' style='height:100px;'>,Father of the Bride Part II,NaN,76.58,173.00,5.70,8.39
...,...,...,...,...,...,...,...
44686,<img src='http://image.tmdb.org/t/p/w185//pfC8gZ1BQANxxdadIMpdywbPG9X.jpg' style='height:100px;'>,Subdue,NaN,NaN,1.00,4.00,0.07
44687,<img src='http://image.tmdb.org/t/p/w185//xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg' style='height:100px;'>,Century of Birthing,NaN,NaN,3.00,9.00,0.18
44688,<img src='http://image.tmdb.org/t/p/w185//eGgakGLQQzUwrCfTxcGu3mXPf8g.jpg' style='height:100px;'>,Betrayal,NaN,NaN,6.00,3.80,0.90
44689,<img src='http://image.tmdb.org/t/p/w185//aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg' style='height:100px;'>,Satan Triumphant,NaN,NaN,0.00,NaN,0.00
44690,<img src='http://image.tmdb.org/t/p/w185//oxFEU4WOMWdXF3fdtYUJZMzc5ob.jpg' style='height:100px;'>,Queerama,NaN,NaN,0.00,NaN,0.16

In [11]:
df_best["profit_musd"] = df.revenue_musd.sub(df.budget_musd)
df_best["return"] = df.revenue_musd.div(df.budget_musd)

In [13]:
df_best

,poster_path,title,budget_musd,revenue_musd,vote_count,vote_average,popularity,profit_musd,return
0,<img src='http://image.tmdb.org/t/p/w185//uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg' style='height:100px;'>,Toy Story,30.00,373.55,5415.00,7.70,21.95,343.55,12.45
1,<img src='http://image.tmdb.org/t/p/w185//vgpXmVaVyUL7GGiDeiK1mKEKzcX.jpg' style='height:100px;'>,Jumanji,65.00,262.80,2413.00,6.90,17.02,197.80,4.04
2,<img src='http://image.tmdb.org/t/p/w185//1FSXpj5e8l4KH6nVFO5SPUeraOt.jpg' style='height:100px;'>,Grumpier Old Men,NaN,NaN,92.00,6.50,11.71,NaN,NaN
3,<img src='http://image.tmdb.org/t/p/w185//4wjGMwPsdlvi025ZqR4rXnFDvBz.jpg' style='height:100px;'>,Waiting to Exhale,16.00,81.45,34.00,6.10,3.86,65.45,5.09
4,<img src='http://image.tmdb.org/t/p/w185//lf9RTErt8BSLQy98aSFblElvsCQ.jpg' style='height:100px;'>,Father of the Bride Part II,NaN,76.58,173.00,5.70,8.39,NaN,NaN
...,...,...,...,...,...,...,...,...,...
44686,<img src='http://image.tmdb.org/t/p/w185//pfC8gZ1BQANxxdadIMpdywbPG9X.jpg' style='height:100px;'>,Subdue,NaN,NaN,1.00,4.00,0.07,NaN,NaN
44687,<img src='http://image.tmdb.org/t/p/w185//xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg' style='height:100px;'>,Century of Birthing,NaN,NaN,3.00,9.00,0.18,NaN,NaN
44688,<img src='http://image.tmdb.org/t/p/w185//eGgakGLQQzUwrCfTxcGu3mXPf8g.jpg' style='height:100px;'>,Betrayal,NaN,NaN,6.00,3.80,0.90,NaN,NaN
44689,<img src='http://image.tmdb.org/t/p/w185//aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg' style='height:100px;'>,Satan Triumphant,NaN,NaN,0.00,NaN,0.00,NaN,NaN
44690,<img src='http://image.tmdb.org/t/p/w185//oxFEU4WOMWdXF3fdtYUJZMzc5ob.jpg' style='height:100px;'>,Queerama,NaN,NaN,0.00,NaN,0.16,NaN,NaN

In [15]:
df_best.columns = ["", "Title", "Budget", "Revenue", "Votes", 
                   "Average Rating", "Popularity", "Profit", "ROI"]

In [17]:
df_best.set_index("Title", inplace = True)

In [19]:
df_best

,,Budget,Revenue,Votes,Average Rating,Popularity,Profit,ROI
Title,,,,,,,,
Toy Story,<img src='http://image.tmdb.org/t/p/w185//uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg' style='height:100px;'>,30.00,373.55,5415.00,7.70,21.95,343.55,12.45
Jumanji,<img src='http://image.tmdb.org/t/p/w185//vgpXmVaVyUL7GGiDeiK1mKEKzcX.jpg' style='height:100px;'>,65.00,262.80,2413.00,6.90,17.02,197.80,4.04
Grumpier Old Men,<img src='http://image.tmdb.org/t/p/w185//1FSXpj5e8l4KH6nVFO5SPUeraOt.jpg' style='height:100px;'>,NaN,NaN,92.00,6.50,11.71,NaN,NaN
Waiting to Exhale,<img src='http://image.tmdb.org/t/p/w185//4wjGMwPsdlvi025ZqR4rXnFDvBz.jpg' style='height:100px;'>,16.00,81.45,34.00,6.10,3.86,65.45,5.09
Father of the Bride Part II,<img src='http://image.tmdb.org/t/p/w185//lf9RTErt8BSLQy98aSFblElvsCQ.jpg' style='height:100px;'>,NaN,76.58,173.00,5.70,8.39,NaN,NaN
...,...,...,...,...,...,...,...,...
Subdue,<img src='http://image.tmdb.org/t/p/w185//pfC8gZ1BQANxxdadIMpdywbPG9X.jpg' style='height:100px;'>,NaN,NaN,1.00,4.00,0.07,NaN,NaN
Century of Birthing,<img src='http://image.tmdb.org/t/p/w185//xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg' style='height:100px;'>,NaN,NaN,3.00,9.00,0.18,NaN,NaN
Betrayal,<img src='http://image.tmdb.org/t/p/w185//eGgakGLQQzUwrCfTxcGu3mXPf8g.jpg' style='height:100px;'>,NaN,NaN,6.00,3.80,0.90,NaN,NaN
Satan Triumphant,<img src='http://image.tmdb.org/t/p/w185//aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg' style='height:100px;'>,NaN,NaN,0.00,NaN,0.00,NaN,NaN
Queerama,<img src='http://image.tmdb.org/t/p/w185//oxFEU4WOMWdXF3fdtYUJZMzc5ob.jpg' style='height:100px;'>,NaN,NaN,0.00,NaN,0.16,NaN,NaN

In [21]:
df_best.iloc[0,0]

"<img src='http://image.tmdb.org/t/p/w185//uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg' style='height:100px;'>"

In [23]:
subset = df_best.iloc[:5, :2]
subset

,,Budget
Title,,
Toy Story,<img src='http://image.tmdb.org/t/p/w185//uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg' style='height:100px;'>,30.00
Jumanji,<img src='http://image.tmdb.org/t/p/w185//vgpXmVaVyUL7GGiDeiK1mKEKzcX.jpg' style='height:100px;'>,65.00
Grumpier Old Men,<img src='http://image.tmdb.org/t/p/w185//1FSXpj5e8l4KH6nVFO5SPUeraOt.jpg' style='height:100px;'>,NaN
Waiting to Exhale,<img src='http://image.tmdb.org/t/p/w185//4wjGMwPsdlvi025ZqR4rXnFDvBz.jpg' style='height:100px;'>,16.00
Father of the Bride Part II,<img src='http://image.tmdb.org/t/p/w185//lf9RTErt8BSLQy98aSFblElvsCQ.jpg' style='height:100px;'>,NaN

In [25]:
HTML(subset.to_html(escape=False))

In [ ]:
df_best.sort_values(by = "Average Rating", ascending = False)

In [ ]:
df_best.sort_values(by = "ROI", ascending = False)

In [ ]:
df_best.loc[df_best.Budget >= 5].sort_values(by = "ROI", ascending = False)

In [ ]:
df_best.Budget.fillna(0, inplace = True)
df_best.Votes.fillna(0, inplace = True)

In [ ]:
df_best.info()

In [ ]:
def best_worst(n, by, ascending = False, min_bud = 0, min_votes = 0):
    
    
    df2 = df_best.loc[(df_best.Budget >= min_bud) & (df_best.Votes >= min_votes), 
                      ["", by]].sort_values(by = by, ascending = ascending).head(n).copy()
    
    return HTML(df2.to_html(escape=False))

## The best and the worst movies... (Part 2)

__Movies Top 5 - Highest Revenue__

In [ ]:
best_worst(n = 5, by = "Revenue")

__Movies Top 5 - Highest Budget__

In [ ]:
best_worst(5, "Budget")

__Movies Top 5 - Highest Profit__

In [ ]:
best_worst(5, "Profit")

__Movies Top 5 - Lowest Profit__

In [ ]:
best_worst(5, "Profit", ascending = True)

__Movies Top 5 - Highest ROI__

In [ ]:
best_worst(5, "ROI", min_bud = 50)

__Movies Top 5 - Lowest ROI__

In [ ]:
best_worst(5, "ROI", ascending = True, min_bud = 100)

__Movies Top 5 - Most Votes__

In [ ]:
best_worst(5, "Votes")

__Movies Top 5 - Highest Rating__

In [ ]:
best_worst(5, "Average Rating", min_votes = 50)

__Movies Top 5 - Lowest Rating__

In [ ]:
best_worst(5, "Average Rating", ascending = True, min_votes = 100)

In [ ]:
best_worst(5, "Average Rating", ascending = True, min_votes = 20, min_bud = 20)

__Movies Top 5 - Most Popular__

In [ ]:
best_worst(5, "Popularity")

## Find your next Movie

__Search 1: Science Fiction Action Movie with Bruce Willis (high Rating)__

In [ ]:
df.genres[0]

In [ ]:
mask_genres = df.genres.str.contains("Action") & df.genres.str.contains("Science Fiction")
mask_genres

In [ ]:
df.cast[0]

In [ ]:
mask_actor = df.cast.str.contains("Bruce Willis")
mask_actor

In [ ]:
df.loc[mask_actor & mask_genres, ["title", "vote_average"]].sort_values(by = "vote_average", 
                                                                        ascending = False)

In [ ]:
bruce = df.loc[mask_actor & mask_genres, ["title", "poster_path", "vote_average"]].sort_values(by = "vote_average", ascending = False).set_index("title")

In [ ]:
HTML(bruce.to_html(escape=False))

__Search 2: Movies with Uma Thurman and directed by Quentin Tarantino (low runtime)__

In [ ]:
df.director

In [ ]:
mask_director = df.director == "Quentin Tarantino"

In [ ]:
mask_actor = df.cast.str.contains("Uma Thurman")

In [ ]:
quentin = df.loc[mask_director & mask_actor, 
               ["title", "poster_path", "runtime"]].sort_values(by = "runtime").set_index("title")

In [ ]:
HTML(quentin.to_html(escape=False))

__Search 3: Most Successful Pixar Studio Movies between 2010 and 2015 (high Revenue)__

In [29]:
df.production_companies[1]

'TriStar Pictures|Teitler Film|Interscope Communications'

In [31]:
mask_studio = df.production_companies.str.contains("Pixar").fillna(False)

C:\Users\Ruslan\AppData\Local\Temp\ipykernel_18308\1774404027.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  mask_studio = df.production_companies.str.contains("Pixar").fillna(False)

In [33]:
df.release_date

0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
           ...
44686          NaT
44687   2011-11-17
44688   2003-08-01
44689   1917-10-21
44690   2017-06-09
Name: release_date, Length: 44691, dtype: datetime64[ns]

In [35]:
mask_time = df.release_date.between("2010-01-01", "2015-12-31")

In [37]:
pixar = df.loc[mask_studio & mask_time, 
               ["title", "poster_path", "revenue_musd", "release_date"]].sort_values(by = "revenue_musd", ascending = False).set_index("title")

In [39]:
HTML(pixar.to_html(escape=False))

__Search 4: Action or Thriller Movie with original language English and minimum Rating of 7.5 (most recent)__

In [ ]:
mask_genre = df.genres.str.contains("Action") | df.genres.str.contains("Thriller")

In [ ]:
mask_lan = df.original_language == "en"

In [ ]:
mask_vote_av = df.vote_average >= 7.5

In [ ]:
mask_vote_co = df.vote_count >= 10

In [ ]:
next_mov = df.loc[mask_genre & mask_lan & mask_vote_av & mask_vote_co, 
               ["title", "poster_path", "genres", "vote_average", "vote_count", "release_date"]].sort_values(by = "release_date", ascending = False).set_index("title").head(20)

In [ ]:
HTML(next_mov.to_html(escape=False))

## What are the most common Words in Movie Titles and Taglines?

In [74]:
from wordcloud import WordCloud

ModuleNotFoundError: No module named 'wordcloud'

In [ ]:
df

In [ ]:
df.tagline[1]

In [ ]:
df.overview[1]

In [ ]:
title = df.title.dropna()
overview = df.overview.dropna()
tagline = df.tagline.dropna()

In [ ]:
title

In [ ]:
' '.join(title)

In [ ]:
title_corpus = ' '.join(title)
overview_corpus = ' '.join(overview)
tagline_corpus = ' '.join(tagline)

In [ ]:
tagline_corpus

In [ ]:
title_wordcloud = WordCloud(background_color='white', height=2000, width=4000, max_words= 200).generate(title_corpus)
title_wordcloud

In [ ]:
plt.figure(figsize=(16,8))
plt.imshow(title_wordcloud, interpolation= "bilinear")
plt.axis('off')
plt.show()

In [ ]:
tagline_wordcloud = WordCloud(background_color='white', height=2000, width=4000).generate(tagline_corpus)
plt.figure(figsize=(16,8))
plt.imshow(tagline_wordcloud, interpolation= "bilinear")
plt.axis('off')
plt.show()

In [ ]:
overview_wordcloud = WordCloud(background_color='white', height=2000, width=4000).generate(overview_corpus)
plt.figure(figsize=(16,8))
plt.imshow(overview_wordcloud, interpolation= "bilinear")
plt.axis('off')
plt.show()

## Are Franchises more successful?

In [ ]:
df.belongs_to_collection

In [ ]:
df["Franchise"] = df.belongs_to_collection.notna()

In [ ]:
df.Franchise

In [ ]:
df.Franchise.value_counts()

__Franchise vs. Stand-alone: Average Revenue__

In [ ]:
df.groupby("Franchise").revenue_musd.mean()

__Franchise vs. Stand-alone: Return on Investment / Profitability__

In [58]:
df["ROI"] = df.revenue_musd.div(df.budget_musd)

In [ ]:
df.groupby("Franchise").ROI.median()

__Franchise vs. Stand-alone: Average Budget__

In [ ]:
df.groupby("Franchise").budget_musd.mean()

__Franchise vs. Stand-alone: Average Popularity__

In [ ]:
df.groupby("Franchise").popularity.mean()

__Franchise vs. Stand-alone: Average Rating__

In [ ]:
df.groupby("Franchise").vote_average.mean()

In [ ]:
df.groupby("Franchise").agg({"budget_musd": "mean", "revenue_musd": "mean", "vote_average": "mean",
                            "popularity": "mean", "ROI":"median", "vote_count":"mean"})

## Most Successful Franchises

In [ ]:
df.belongs_to_collection

In [53]:
df.belongs_to_collection.value_counts()

belongs_to_collection
The Bowery Boys                  29
Totò Collection                  27
Zatôichi: The Blind Swordsman    26
James Bond Collection            26
The Carry On Collection          25
                                 ..
Salt and Pepper Collection        1
Deadpool Collection               1
Ant-Man Collection                1
Elvira Collection                 1
Red Lotus Collection              1
Name: count, Length: 1691, dtype: int64

In [60]:
franchises = df.groupby("belongs_to_collection").agg({"title":"count", "budget_musd": ["sum", "mean"], 
                                                      "revenue_musd": ["sum", "mean"],
                                                      "vote_average": "mean", "popularity": "mean",
                                                      "ROI":"median", 
                                                      "vote_count":"mean"})

In [62]:
franchises

                                     title budget_musd       revenue_musd  \
                                     count         sum  mean          sum
belongs_to_collection
... Has Fallen Collection                2      130.00 65.00       366.78
00 Schneider Filmreihe                   1        0.00   NaN         0.00
08/15 Collection                         1        0.00   NaN         0.00
100 Girls Collection                     2        0.00   NaN         0.00
101 Dalmatians (Animated) Collection     2        4.00  4.00       215.88
...                                    ...         ...   ...          ...
Сказки Чуковского                        1        0.00   NaN         0.00
Чебурашка и крокодил Гена                1        0.00   NaN         0.00
Что Творят мужчины! (Коллекция)          2        2.00  2.00         0.00
男はつらいよ シリーズ                              3        0.00   NaN         0.00
식객 시리즈                                   2        0.00   NaN         0.00

                                            vote_average popularity    ROI  \
                                       mean         mean       mean median
belongs_to_collection
... Has Fallen Collection            183.39         6.00      13.01   2.86
00 Schneider Filmreihe                  NaN         6.50       1.93    NaN
08/15 Collection                        NaN         5.90       0.63    NaN
100 Girls Collection                    NaN         5.15       3.08    NaN
101 Dalmatians (Animated) Collection 215.88         6.25      13.06  53.97
...                                     ...          ...        ...    ...
Сказки Чуковского                       NaN         3.00       0.73    NaN
Чебурашка и крокодил Гена               NaN         6.70       0.88    NaN
Что Творят мужчины! (Коллекция)         NaN         3.15       1.30    NaN
男はつらいよ シリーズ                             NaN         7.00       0.04    NaN
식객 시리즈                                  NaN         4.95       0.16    NaN

                                     vote_count
                                           mean
belongs_to_collection
... Has Fallen Collection               2333.00
00 Schneider Filmreihe                    16.00
08/15 Collection                           4.00
100 Girls Collection                      64.00
101 Dalmatians (Animated) Collection     937.00
...                                         ...
Сказки Чуковского                          3.00
Чебурашка и крокодил Гена                  7.00
Что Творят мужчины! (Коллекция)            5.50
男はつらいよ シリーズ                                0.67
식객 시리즈                                     3.50

[1691 rows x 9 columns]

In [64]:
franchises.nlargest(20, ("title", "count"))

                                       title budget_musd       revenue_musd  \
                                       count         sum  mean          sum
belongs_to_collection
The Bowery Boys                           29        0.00   NaN         0.00
Totò Collection                           27        0.00   NaN         0.00
James Bond Collection                     26     1539.65 59.22      7106.97
Zatôichi: The Blind Swordsman             26        0.00   NaN         0.00
The Carry On Collection                   25        0.00   NaN         0.00
Charlie Chan (Sidney Toler) Collection    21        0.00   NaN         0.00
Pokémon Collection                        20      250.72 50.14       601.87
Godzilla (Showa) Collection               16        2.81  0.56         0.00
Charlie Chan (Warner Oland) Collection    15        0.00   NaN         0.00
Dragon Ball Z (Movie) Collection          15        5.00  5.00       112.12
Uuno Turhapuro                            15        0.00   NaN         0.00
Monster High Collection                   14        0.50  0.50         0.00
The Land Before Time Collection           14       12.30 12.30        84.46
George Carlin Comedy Collection           13        0.00   NaN         0.00
Sharpe Collection                         13        0.00   NaN         0.00
Friday the 13th Collection                12       84.40  7.03       464.90
Johan Falk GSI Collection                 12        0.00   NaN         0.00
Sherlock Holmes (1939 series)             12        0.00   NaN         0.00
The Amityville Horror Collection          12       21.02  5.25       213.35
An American Girl Collection               10        6.80  6.80         0.00

                                              vote_average popularity    ROI  \
                                         mean         mean       mean median
belongs_to_collection
The Bowery Boys                           NaN         6.67       0.20    NaN
Totò Collection                           NaN         6.84       1.05    NaN
James Bond Collection                  273.35         6.34      13.45   6.13
Zatôichi: The Blind Swordsman             NaN         6.40       1.10    NaN
The Carry On Collection                   NaN         6.17       3.22    NaN
Charlie Chan (Sidney Toler) Collection    NaN         6.61       0.63    NaN
Pokémon Collection                      66.87         6.05       4.37   4.46
Godzilla (Showa) Collection               NaN         5.97       3.42    NaN
Charlie Chan (Warner Oland) Collection    NaN         6.66       0.66    NaN
Dragon Ball Z (Movie) Collection        56.06         6.61       6.18  12.35
Uuno Turhapuro                            NaN         5.53       0.17    NaN
Monster High Collection                   NaN         6.49       3.59    NaN
The Land Before Time Collection         84.46         6.16       4.91   6.87
George Carlin Comedy Collection           NaN         7.47       1.30    NaN
Sharpe Collection                         NaN         6.74       1.71    NaN
Friday the 13th Collection              38.74         5.42       9.76   6.67
Johan Falk GSI Collection                 NaN         6.50       1.52    NaN
Sherlock Holmes (1939 series)             NaN         6.92       2.88    NaN
The Amityville Horror Collection        53.34         4.36       7.18   5.69
An American Girl Collection               NaN         5.25       1.94    NaN

                                       vote_count
                                             mean
belongs_to_collection
The Bowery Boys                              0.72
Totò Collection                             18.04
James Bond Collection                     1284.31
Zatôichi: The Blind Swordsman               11.19
The Carry On Collection                     21.04
Charlie Chan (Sidney Toler) Collection       5.81
Pokémon Collection                          71.10
Godzilla (Showa) Collection                 39.75
Charlie Chan (Warner Oland) Collection       6.87
Dragon Ball Z (Movie) Collection           133.33
Uuno Turhapuro                               3.87
Monster High Collection                     12.57
The Land Before Time Collection             96.07
George Carlin Comedy Collection             12.54
Sharpe Collection                           13.23
Friday the 13th Collection                 326.58
Johan Falk GSI Collection                    9.25
Sherlock Holmes (1939 series)               21.58
The Amityville Horror Collection            91.92
An American Girl Collection                  8.70

In [66]:
franchises.nlargest(20, ("revenue_musd", "mean"))

                                    title budget_musd        revenue_musd  \
                                    count         sum   mean          sum
belongs_to_collection
Avatar Collection                       1      237.00 237.00      2787.97
The Avengers Collection                 2      500.00 250.00      2924.96
Frozen Collection                       2      150.00 150.00      1274.22
Finding Nemo Collection                 2      294.00 147.00      1968.91
The Hobbit Collection                   3      750.00 250.00      2935.52
The Lord of the Rings Collection        3      266.00  88.67      2916.54
Harry Potter Collection                 8     1280.00 160.00      7707.37
Star Wars Collection                    8      854.35 106.79      7434.49
Despicable Me Collection                6      299.00  74.75      3691.07
Pirates of the Caribbean Collection     5     1250.00 250.00      4521.58
The Secret Life of Pets Collection      1       75.00  75.00       875.46
Transformers Collection                 5      965.00 193.00      4366.10
Spider-Man Collection                   3      597.00 199.00      2496.35
The Dark Knight Collection              3      585.00 195.00      2463.72
Wonder Woman Collection                 1      149.00 149.00       820.58
Guardians of the Galaxy Collection      2      370.00 185.00      1636.74
Fantastic Beasts Collection             1      180.00 180.00       809.34
Iron Man Collection                     3      540.00 180.00      2424.55
The Lion King Collection                4       45.00  45.00       788.24
Deadpool Collection                     1       58.00  58.00       783.11

                                            vote_average popularity    ROI  \
                                       mean         mean       mean median
belongs_to_collection
Avatar Collection                   2787.97         7.20     185.07  11.76
The Avengers Collection             1462.48         7.35      63.63   5.96
Frozen Collection                   1274.22         7.10      16.88   8.49
Finding Nemo Collection              984.45         7.20      19.99   7.57
The Hobbit Collection                978.51         7.23      25.21   3.83
The Lord of the Rings Collection     972.18         8.03      30.27  11.73
Harry Potter Collection              963.42         7.54      26.25   6.17
Star Wars Collection                 929.31         7.38      23.41   8.24
Despicable Me Collection             922.77         6.78     106.72  12.76
Pirates of the Caribbean Collection  904.32         6.88      53.97   3.45
The Secret Life of Pets Collection   875.46         5.90      11.01  11.67
Transformers Collection              873.22         6.14      14.43   5.20
Spider-Man Collection                832.12         6.47      22.62   3.92
The Dark Knight Collection           821.24         7.80      57.42   4.34
Wonder Woman Collection              820.58         7.20     294.34   5.51
Guardians of the Galaxy Collection   818.37         7.75     119.31   4.43
Fantastic Beasts Collection          809.34         7.20      41.05   4.50
Iron Man Collection                  808.18         6.93      21.63   4.18
The Lion King Collection             788.24         6.75      11.48  17.52
Deadpool Collection                  783.11         7.40     187.86  13.50

                                    vote_count
                                          mean
belongs_to_collection
Avatar Collection                     12114.00
The Avengers Collection                9454.00
Frozen Collection                      3035.00
Finding Nemo Collection                5312.50
The Hobbit Collection                  5981.33
The Lord of the Rings Collection       8253.00
Harry Potter Collection                5983.25
Star Wars Collection                   5430.38
Despicable Me Collection               3041.33
Pirates of the Caribbean Collection    5016.00
The Secret Life of Pets Collection     3536.00
Transformers Collection                3046.40
Spider-Man Collection                  4505.67
The Dark Knight Collection             9681.00
Wonder Woman Collection                5025.00
Guardians of the Galaxy Collection     7436.00
Fantastic Beasts Collection            5612.00
Iron Man Collection                    8290.33
The Lion King Collection               1827.50
Deadpool Collection                   11444.00

In [68]:
franchises.nlargest(20, ("budget_musd", "mean"))

                                        title budget_musd        revenue_musd  \
                                        count         sum   mean          sum
belongs_to_collection
Tangled Collection                          2      260.00 260.00       591.79
Pirates of the Caribbean Collection         5     1250.00 250.00      4521.58
The Avengers Collection                     2      500.00 250.00      2924.96
The Hobbit Collection                       3      750.00 250.00      2935.52
Man of Steel Collection                     2      475.00 237.50      1536.11
Avatar Collection                           1      237.00 237.00      2787.97
The Amazing Spider-Man Collection           2      415.00 207.50      1457.93
World War Z Collection                      1      200.00 200.00       531.87
Spider-Man Collection                       3      597.00 199.00      2496.35
The Dark Knight Collection                  3      585.00 195.00      2463.72
Transformers Collection                     5      965.00 193.00      4366.10
Captain America Collection                  3      560.00 186.67      2238.64
The Chronicles of Narnia Collection         3      560.00 186.67      1584.14
Alice in Wonderland Collection              2      370.00 185.00      1324.86
Guardians of the Galaxy Collection          2      370.00 185.00      1636.74
Fantastic Beasts Collection                 1      180.00 180.00       809.34
Iron Man Collection                         3      540.00 180.00      2424.55
Pacific Rim Collection                      1      180.00 180.00       407.60
Star Trek: Alternate Reality Collection     3      525.00 175.00      1196.52
Cars Collection                             3      495.00 165.00      1372.01

                                                vote_average popularity  \
                                           mean         mean       mean
belongs_to_collection
Tangled Collection                       591.79         7.25      12.32
Pirates of the Caribbean Collection      904.32         6.88      53.97
The Avengers Collection                 1462.48         7.35      63.63
The Hobbit Collection                    978.51         7.23      25.21
Man of Steel Collection                  768.05         6.10      24.99
Avatar Collection                       2787.97         7.20     185.07
The Amazing Spider-Man Collection        728.97         6.50      28.67
World War Z Collection                   531.87         6.70      26.11
Spider-Man Collection                    832.12         6.47      22.62
The Dark Knight Collection               821.24         7.80      57.42
Transformers Collection                  873.22         6.14      14.43
Captain America Collection               746.21         7.10      61.31
The Chronicles of Narnia Collection      528.05         6.40      14.34
Alice in Wonderland Collection           662.43         6.45      15.95
Guardians of the Galaxy Collection       818.37         7.75     119.31
Fantastic Beasts Collection              809.34         7.20      41.05
Iron Man Collection                      808.18         6.93      21.63
Pacific Rim Collection                   407.60         6.70      33.95
Star Trek: Alternate Reality Collection  398.84         7.13      17.27
Cars Collection                          457.34         6.33      17.25

                                           ROI vote_count
                                        median       mean
belongs_to_collection
Tangled Collection                        2.28    1901.00
Pirates of the Caribbean Collection       3.45    5016.00
The Avengers Collection                   5.96    9454.00
The Hobbit Collection                     3.83    5981.33
Man of Steel Collection                   3.22    6825.50
Avatar Collection                        11.76   12114.00
The Amazing Spider-Man Collection         3.51    5504.00
World War Z Collection                    2.66    5683.00
Spider-Man Collection                     3.92    4505.67
The Dark Knight Collection                4.34    9681.00
Transformers Collection                   5.20    3046.40
Captain America Collection                4.20    6839.00
The Chronicles of Narnia Collection       2.68    1977.33
Alice in Wonderland Collection            3.44    3277.50
Guardians of the Galaxy Collection        4.43    7436.00
Fantastic Beasts Collection               4.50    5612.00
Iron Man Collection                       4.18    8290.33
Pacific Rim Collection                    2.26    4903.00
Star Trek: Alternate Reality Collection   2.46    3896.33
Cars Collection                           2.80    2265.67

In [70]:
franchises[franchises[("vote_count", "mean")] >=1000].nlargest(20, ("vote_average", "mean"))

                                    title budget_musd        revenue_musd  \
                                    count         sum   mean          sum
belongs_to_collection
The Lord of the Rings Collection        3      266.00  88.67      2916.54
The Godfather Collection                3       73.00  24.33       429.38
Blade Runner Collection                 1       28.00  28.00        33.14
The Man With No Name Collection         3        2.00   0.67        35.50
The Dark Knight Collection              3      585.00 195.00      2463.72
Guardians of the Galaxy Collection      2      370.00 185.00      1636.74
Kill Bill Collection                    2       60.00  30.00       333.11
Kingsman Collection                     1       81.00  81.00       414.35
How to Train Your Dragon Collection     2      310.00 155.00      1104.00
Harry Potter Collection                 8     1280.00 160.00      7707.37
Toy Story Collection                    3      320.00 106.67      1937.89
Back to the Future Collection           3       99.00  33.00       957.64
Trainspotting Collection                2       22.00  11.00        57.90
Deadpool Collection                     1       58.00  58.00       783.11
The Incredibles Collection              1       92.00  92.00       631.44
Star Wars Collection                    8      854.35 106.79      7434.49
The Avengers Collection                 2      500.00 250.00      2924.96
The Lego Movie Collection               2      140.00  70.00       781.11
Tangled Collection                      2      260.00 260.00       591.79
The Space Odyssey Series                2       38.50  19.25       109.10

                                            vote_average popularity    ROI  \
                                       mean         mean       mean median
belongs_to_collection
The Lord of the Rings Collection     972.18         8.03      30.27  11.73
The Godfather Collection             143.13         7.97      31.64   3.66
Blade Runner Collection               33.14         7.90      96.27   1.18
The Man With No Name Collection       11.83         7.83      14.17  25.00
The Dark Knight Collection           821.24         7.80      57.42   4.34
Guardians of the Galaxy Collection   818.37         7.75     119.31   4.43
Kill Bill Collection                 166.55         7.70      23.40   5.55
Kingsman Collection                  414.35         7.60      28.22   5.12
How to Train Your Dragon Collection  552.00         7.55      13.34   3.60
Harry Potter Collection              963.42         7.54      26.25   6.17
Toy Story Collection                 645.96         7.53      18.82   5.53
Back to the Future Collection        319.21         7.50      17.50   8.30
Trainspotting Collection              28.95         7.45      18.50   3.21
Deadpool Collection                  783.11         7.40     187.86  13.50
The Incredibles Collection           631.44         7.40      22.22   6.86
Star Wars Collection                 929.31         7.38      23.41   8.24
The Avengers Collection             1462.48         7.35      63.63   5.96
The Lego Movie Collection            390.56         7.35      16.74   5.86
Tangled Collection                   591.79         7.25      12.32   2.28
The Space Odyssey Series              54.55         7.25      14.99   3.99

                                    vote_count
                                          mean
belongs_to_collection
The Lord of the Rings Collection       8253.00
The Godfather Collection               3677.00
Blade Runner Collection                3833.00
The Man With No Name Collection        1422.67
The Dark Knight Collection             9681.00
Guardians of the Galaxy Collection     7436.00
Kill Bill Collection                   4576.00
Kingsman Collection                    6069.00
How to Train Your Dragon Collection    3741.00
Harry Potter Collection                5983.25
Toy Story Collection                   4679.67
Back to the Future Collection          4381.00
Trainspotting Collection               1766.00
Deadpool Collection                   11444.00
The Incredibles Collection             5290.00
Star Wars Collection                   5430.38
The Avengers Collection                9454.00
The Lego Movie Collection              2300.00
Tangled Collection                     1901.00
The Space Odyssey Series               1682.50

## Most Successful Directors

In [ ]:
df.director

In [ ]:
df.director.value_counts().head(20)

In [ ]:
plt.figure(figsize = (12, 8))
df.director.value_counts().head(20).plot(kind='bar', fontsize = 15)
plt.title("Most Active Directors",fontsize = 20)
plt.ylabel("Number of Movies", fontsize = 15)
plt.show()

In [ ]:
df.groupby("director").revenue_musd.sum().nlargest(20)

In [ ]:
plt.figure(figsize = (12, 8))
df.groupby("director").revenue_musd.sum().nlargest(20).plot(kind='bar', fontsize = 15)
plt.title("Total Revenue",fontsize = 20)
plt.ylabel("Revenue (in MUSD)", fontsize = 15)
plt.show()

In [ ]:
directors = df.groupby("director").agg({"title": "count", "vote_average" :"mean", "vote_count": "sum"})

In [ ]:
directors

In [ ]:
directors[(directors.vote_count >= 10000) & (directors.title >= 10)].nlargest(20, "vote_average")

In [ ]:
df.genres = df.genres.astype(str)

In [ ]:
df.loc[df.genres.str.contains("Horror")].groupby("director").revenue_musd.sum().nlargest(20)

## Most Successful Actors (Part 1)

In [ ]:
df.cast

In [ ]:
df

In [ ]:
df.set_index("id", inplace = True)

In [ ]:
df.info()

In [ ]:
df.cast

In [ ]:
df.cast.str.split("|", expand = True)

In [ ]:
act = df.cast.str.split("|", expand = True)
act

In [ ]:
act.stack().reset_index(level=1, drop=True).to_frame()

In [ ]:
act = act.stack().reset_index(level=1, drop=True).to_frame()

In [ ]:
act

In [ ]:
act.columns = ["Actor"]

In [ ]:
act = act.merge(df[["title", "revenue_musd", "vote_average", "popularity"]],
                how = "left", left_index = True, right_index = True)

In [ ]:
act

## Most Successful Actors (Part 2)

In [ ]:
act

In [ ]:
act.Actor.nunique()

In [ ]:
act.Actor.unique()

In [ ]:
act.Actor.value_counts().head(20)

In [ ]:
plt.figure(figsize = (12, 8))
act.Actor.value_counts().head(20).plot(kind='bar', fontsize = 15)
plt.title("Most Active Actors",fontsize = 20)
plt.ylabel("Number of Movies", fontsize = 15)
plt.show()

In [ ]:
agg = act.groupby("Actor").agg(Total_Revenue = ("revenue_musd", "sum"), 
                               Mean_Revenue = ("revenue_musd", "mean"),
                               Mean_Rating = ("vote_average", "mean"), 
                               Mean_Pop = ("popularity", "mean"), 
                               Total_Movies = ("Actor", "count"))

In [ ]:
agg.nlargest(10, "Total_Movies")

In [ ]:
agg.nlargest(10, "Total_Revenue")

In [ ]:
plt.figure(figsize = (12, 8))
agg.Total_Revenue.nlargest(10).plot(kind='bar', fontsize = 15)
plt.title("Total Revenue",fontsize = 20)
plt.ylabel("Revenue (in MUSD)", fontsize = 15)
plt.show()

In [ ]:
agg.Mean_Revenue.nlargest(10)

In [ ]:
act[act.Actor == "Ashley Jeffery"]

In [ ]:
agg[agg.Total_Movies >= 10].nlargest(10, "Mean_Revenue")

In [ ]:
agg[agg.Total_Movies >= 10].nlargest(10, "Mean_Rating")

In [ ]:
agg[agg.Total_Movies >= 10].nlargest(10, "Mean_Pop")